name: Build Resetprop Static

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup NDK
        uses: nwidart/setup-ndk@v1
        with:
          ndk-version: r25c

      - name: Compile Static Binary
        run: |
          # Thiết lập đường dẫn compiler của NDK
          TOOLCHAIN=$ANDROID_NDK_ROOT/toolchains/llvm/prebuilt/linux-x86_64
          export PATH=$TOOLCHAIN/bin:$PATH
          
          # Sử dụng compiler aarch64 cho Android API 29 (Android 10+)
          # Thêm cờ -static để gom hết libc, libm vào trong 1 file duy nhất
          aarch64-linux-android29-clang++ \
            -Iinclude \
            main.cpp \
            system_property_api.cpp \
            system_property_set.cpp \
            systemproperties/*.cpp \
            -std=c++17 \
            -Os \
            -fdata-sections -ffunction-sections \
            -fvisibility=hidden -fno-rtti -fno-exceptions \
            -Wl,--gc-sections -s \
            -static \
            -o xeu_toolbox_static
          
          ls -al xeu_toolbox_static

      - name: Upload Binary
        uses: actions/upload-artifact@v4
        with:
          name: xeu_toolbox_static
          path: xeu_toolbox_static
