name: Build Resetprop Static

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install NDK Manual
        run: |
          # Tải NDK r25b trực tiếp từ Google (bản ổn định nhất cho static build)
          wget -q https://dl.google.com/android/repository/android-ndk-r25b-linux.zip
          unzip -q android-ndk-r25b-linux.zip
          # Thiết lập biến môi trường
          echo "NDK_PATH=$(pwd)/android-ndk-r25b" >> $GITHUB_ENV

      - name: Compile Static Binary
        run: |
          # Thiết lập đường dẫn compiler
          export TOOLCHAIN=$NDK_PATH/toolchains/llvm/prebuilt/linux-x86_64
          export CLANG=$TOOLCHAIN/bin/aarch64-linux-android29-clang++
          
          # Thực hiện lệnh compile tương tự build.sh nhưng ép -static
          $CLANG \
            -Iinclude \
            main.cpp \
            system_property_api.cpp \
            system_property_set.cpp \
            systemproperties/*.cpp \
            -std=c++17 \
            -Os \
            -fdata-sections -ffunction-sections \
            -fvisibility=hidden -fno-rtti -fno-exceptions \
            -Wl,--gc-sections -s \
            -static \
            -o tn_resetprop
          
          ls -al tn_resetprop

      - name: Upload Binary
        uses: actions/upload-artifact@v4
        with:
          name: tn_resetprop-bin
          path: tn_resetprop
